{% extends 'userpanel/user_base.html' %}
{% load static %}
{% block title %}
    Blog | Reset Password
{% endblock %}
{% block content %}


<div class="container-xxl flex-grow-1 container-p-y"style="margin-top: 50px">
    <h4 class="fw-bold py-3 mb-4"></h4>

    <div class="row">
        <!-- Basic -->
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4">
                <h5 class="card-header">Change Password</h5>
                <div class="card-body demo-vertical-spacing demo-only-element">
                    <form method="post" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <div class="form-password-toggle mb-3">
                            <label class="form-label" for="current-password">Current Password</label>
                            {{ form.old_password }}
                        </div>

                        <div class="form-password-toggle mb-3">
                            <label class="form-label" for="new-password">New Password</label>
                            {{ form.new_password1}}
                        </div>

                        <div class="form-password-toggle mb-3">
                            <label class="form-label" for="confirm-password">Confirm New Password</label>
                            {{ form.new_password2 }}
                        </div>

                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}